[Unit]
Description=etcd
Documentation=https://github.com/coreos/etcd

[Service]
Type=notify
Restart=always
RestartSec=5s
LimitNOFILE=40000
TimeoutStartSec=0

ExecStart=/usr/local/bin/etcd --name my-etcd-{{ ansible_hostname }} \
	--quota-backend-bytes {{ storage }} \
    --data-dir /var/lib/etcd \
    --auto-compaction \
    --listen-client-urls https://{{ ansible_default_ipv4.address }}:2379 \
    --advertise-client-urls https://{{ ansible_fqdn }}:2379 \
    --listen-peer-urls https://{{ ansible_default_ipv4.address }}:2380 \
    --initial-advertise-peer-urls https://{{ ansible_fqdn }}:2380 \
    --initial-cluster {% for host in groups[etcd_group] %}{% if not loop.first %},{% endif %}my-etcd-{{ hostvars[host].ansible_hostname }}=https://{{ hostvars[host].ansible_fqdn  }}:2380{% endfor %} \
    --initial-cluster-token my-etcd-token \
    --initial-cluster-state new \
	 --cert-file=/etc/etcd/client.cert.pem \
	 --key-file=/etc/etcd/client.key.pem \
	 --trusted-ca-file=/etc/etcd/client.cacert.pem \
	 --client-cert-auth=true \
	 --peer-cert-file=/etc/etcd/peer.cert.pem \
	 --peer-key-file=/etc/etcd/peer.key.pem \
	 --peer-client-cert-auth=true \
	 --peer-trusted-ca-file=/etc/etcd/peer.cacert.pem

[Install]
WantedBy=multi-user.target
